<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li *ngFor="let carOwner of carOwners">
    <div style="clear:both">
      <div style="float:left">{{carOwner.name}}</div>
      <div style="float:left">
        <ul>
          <li *ngFor="let car of carOwner.cars">
            <div style="clear:both">
              <div style="float:left">{{car.brand}}</div>
              <div style="float:left">{{car.colour}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>