<!--The content below is only a placeholder and can be replaced.-->
<div class="conatiner">
  <h1>
    {{ title }}
  </h1>
  <app-cars-loader [componentLoading]="isLoading"></app-cars-loader>
  <app-cars-error [message]="showError.message" [show]="showError.show" [onClose]="showError.onClose"></app-cars-error>
  <div class="panel-group" style="width:25%">
    <div *ngFor="let brand of carBrands" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">{{brand}}</h4>
      </div>
      <div>
        <app-cars-ownercolor [brandName]="brand"></app-cars-ownercolor>
      </div>
    </div>
  </div>
</div>